@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 26px; }

h1 {
  margin: 50px 0;
  font-weight: bold;
  color: #0D47A1; }

h1.first {
  margin-top: 0; }

h2 {
  margin: 0 0 40px 0;
  padding: 25px 0 25px 0;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  color: #0D47A1;
  border-bottom: 2px solid #0D47A1; }

h3 {
  margin: 50px 0;
  font-weight: bold;
  color: #0D47A1; }

h3.first {
  margin-top: 0; }

h4 {
  margin: 40px 0;
  font-weight: bold;
  color: #0D47A1; }

pre {
  padding-top: 30px;
  margin-top: 40px; }

a {
  font-weight: bold;
  color: #039BE5; }

a:hover {
  color: #0D47A1; }

#links ul {
  list-style-type: none; }

.alert {
  padding-left: 30px; }

.table > tbody > tr > td, .table > tbody > tr > th,
.table > tfoot > tr > td, .table > tfoot > tr > th,
.table > thead > tr > td, .table > thead > tr > th {
  border-top: none;
  padding: 15px 8px 13px 8px; }

.table img {
  border: 1px solid #999; }

.table > tbody {
  border-bottom: 2px solid #ddd;
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd; }

.table .btn {
  margin-bottom: 0;
  padding: 0; }

th.active {
  color: #0D47A1; }

.table > thead > tr > th.active {
  background-color: #fff; }

th.active .arrow {
  opacity: 1; }

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0; }

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #0D47A1; }

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #0D47A1; }

.clear {
  clear: both; }

.btn-primary {
  background-color: #039BE5;
  border: 1px solid #039BE5; }

.btn-primary:hover {
  background-color: #0D47A1;
  border: 1px solid #0D47A1; }

.btn-link {
  color: #039BE5; }

.btn {
  margin-bottom: 10px; }

.checkbox-line {
  margin-bottom: 40px; }

.radio-group label {
  margin-right: 15px; }

.img-blue {
  border: 1px solid #0D47A1; }

.hide {
  display: none; }

.modal {
  display: block; }

.modal-footer .btn + .btn {
  margin-bottom: 10px; }

.alert-msg-transition {
  transition: all .5s ease-in-out; }

.alert-msg-enter, .alert-msg-leave {
  opacity: 0; }

@media (min-width: 768px) {
  h3.first {
    margin-top: 50px; } }

@media (min-width: 992px) {
  h3.first {
    margin-top: 0; } }

@media (min-width: 1200px) {
  h3.first {
    margin-top: 0; } }

@media (min-width: 1500px) {
  h3.first {
    margin-top: 0; } }

.navbar {
  margin-bottom: 0px;
  padding: 5px 0; }

.navbar-brand {
  padding: 0 15px 0 25px;
  margin-top: 2px; }

.navbar-brand img {
  width: 50px; }

.navbar-nav > li > a {
  padding-top: 10px; }

.navbar-default,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  background: #0D47A1;
  border: none; }

.navbar-default .navbar-nav > li > a {
  color: #ffffff; }

.navbar-default .navbar-nav > li > a:hover {
  color: #FFF176; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background: #0D47A1;
  color: #FFF176;
  text-decoration: underline; }

.nav .open > a,
.nav .open > a:focus, .nav .open > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background: #0D47A1; }

.dropdown-menu {
  background: #0D47A1; }

.dropdown-menu > li > a {
  color: #ffffff; }

.dropdown-menu > li > a:hover {
  background: #0D47A1;
  color: #FFF176; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #ffffff; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #FFF176; }

.navbar-form {
  margin-top: 6px;
  margin-bottom: 0; }

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 18px; } }

/* FOOTER ------------------------------------------------------------------- */
footer {
  background: #B3E5FC; }

footer .container {
  background: #B3E5FC;
  color: #0D47A1;
  padding-bottom: 30px;
  font-size: 13px;
  line-height: 21px; }

.footer-links-row {
  padding: 0 200px; }

.footer-title {
  font-weight: bold;
  margin-top: 50px; }

.footer-title-top {
  margin-bottom: 8px; }

.footer-logo-row {
  text-align: center; }

.footer-logo img {
  margin-top: -26px;
  margin-bottom: 0px;
  border: none; }

.social-icons-row {
  text-align: center;
  padding-top: 50px; }

i.fa {
  margin-left: 6px;
  margin-right: 6px; }

.copyright {
  height: 50px;
  color: #039BE5;
  font-size: 12px;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -ms-flexbox;
  display: flex;
  background: #0D47A1; }

@media (min-width: 992px) {
  .footer-list-middle {
    padding-left: 45px; } }

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding-top: 6px;
  padding-bottom: 8px; }

#home-page h3 {
  margin-top: 50px; }

#tag-form {
  background: #FFF176;
  padding: 40px 30px; }

#sites-gallery-page h3 {
  margin-top: 20px; }

#sites-gallery-page .gallery-site {
  margin-bottom: 30px; }

#sites-gallery-page .gallery-site-info {
  margin-top: 10px; }

.sites-gallery-page-tag {
  border-bottom: 2px solid #0D47A1; }

.sites-gallery-page-tag:last-child {
  border-bottom: none; }

h3 {
  margin-top: 0;
  margin-bottom: 20px; }

footer {
  margin-top: 70px; }

/*# sourceMappingURL=app.css.map */
