@import 'variables';


.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th  {
    padding-top: 6px;
    padding-bottom: 8px;
}
#home-page h3 {
  margin-top: 50px;
}
#tag-form {
  background: $accent-color;
  padding: 40px 30px;
}
#sites-gallery-page h3 {
  margin-top: 20px;
}
#sites-gallery-page .gallery-site {
  margin-bottom: 30px;
}
#sites-gallery-page .gallery-site-info {
  margin-top: 10px;
}
.sites-gallery-page-tag {
  border-bottom: 2px solid $secondary-color;
}
.sites-gallery-page-tag:last-child {
  border-bottom: none;
}
h3 {
  margin-top: 0;
  margin-bottom: 20px;
}
footer {
  margin-top: 70px;
}
