
// colors

$primary-color: #039BE5;
$secondary-color: #0D47A1;
$page-title-color: #81D4FA;
$footer-background: #B3E5FC;
$footer-color: #1E52A4;
$navbar-color: #0288D1;
$navbar-background: #0D47A1;
$accent-color: #FFF176;
//$navbar-background: #FFF176;
//$navbar-background: #FFF59D;
//$navbar-background: #E1F5FE;

// breakpoints

$small: 768px;
$medium: 992px;
$large: 1200px;

// fonts

$font-stack: 'Open Sans', sans-serif;
